body {
    font-color : #000;
    font-family : ubuntu;
    font-size : 16pt;
}

#game {
    float : left;
}

#question {
    font-size : 30pt;
    width : 80px;
    margin-top : 10px;
    padding-left : 5px;
    padding-right : 10px;
    float : left;
    border: 1px solid blue;
    border-radius: 4px;
    padding: 8px;
    margin: 4px;
}

#keypad {
    float : left;
    width: 280px;
}
