body {
    font-color : #000;
    font-family : ubuntu;
    font-size : 16pt;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #004;
    color: white;
}

#container {
    position: relative;
    width: 1050px;
    height: 750px;
}

#game {
    position: absolute;
    top: 0px;
    left: 0px;
    margin : 40px;
    float : left;
}

#question {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size : 40pt;
    width : 240px;
    float : left;
    background-color : #448;
    border-radius: 4px;
    padding: 20px;
    margin : 10px;
    margin-top: 40px;
}

#keypad {
    position: absolute;
    bottom: 0px;
    right: 0px;
    float : left;
    width: 280px;
    margin : 10px;
    margin-top: 40px;
}
