<style>
    #opcol {
        width: 20%;
    }

    #op {
        border-spacing: 0;
        width : 100%;
    }

    #pad {
        width: 45%;
    }

    #op_1, #op_2, #op_result {
        width : 50%;
        text-align: right;
        padding-right : 15px;
    }

    .opline {
        border-top: 2px solid;
    }

    .normal {
        border: 2px solid #448;
    }

    .framed {
        color : #ccf;
        border: 2px dashed #cfc;
    }
</style>
<table id="op">
    <tr>
        <td id="pad"></td>
        <td id="opcol"></td>
        {{#hide_1}}
        <td id="op_1" class="framed">{{ current_answer }}</td>
        {{/hide_1}}
        {{^hide_1}}
        <td id="op_1" class="normal">{{op_1}}</td>
        {{/hide_1}}
    </tr>
    <tr>
        <td></td>
        <td>{{ operator }}</td>
        {{#hide_2}}
        <td id="op_2" class="framed">{{ current_answer }}</td>
        {{/hide_2}}
        {{^hide_2}}
        <td id="op_2" class="normal">{{op_2}}</td>
        {{/hide_2}}
    </tr>
    <tr>
        <td colspan=3></td>
    </tr>
    <tr>
        <td></td>
        <td class="opline" colspan=2></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        {{#hide_r}}
        <td id="op_result" class="framed">{{ current_answer }}</td>
        {{/hide_r}}
        {{^hide_r}}
        <td id="op_result" class="normal">{{op_result}}</td>
        {{/hide_r}}
    </tr>
</table>
